# node
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml

# yarn
yarn.lock
yarn-error.log

# webstorm
.idea

bin
src
test
gulpfile.js

.eslintignore
.eslintrc.yml
.eslintrc.js
.eslintrc.cjs
.gitignore
.babelrc
.editorconfig
.flowconfig
tsconfig.json
.husky